@media screen and (max-width: 600px) {

    .product_container {
        width: 190px;
        height: 500px;
    }

    .product_container .details .data .discount {
        width: auto;
    }
}

@media screen and (max-width: 580px) {
    .product_container {
        width: 100%;
    }

    .product_container .photo{
        height: 100%;
        display: flex;
        align-items: center;
    }

}