@media screen and (max-width: 600px) {

    .feed {
        padding: 1rem 1rem;
        margin: auto;
    }

    .feed .products {
        margin-left: 0rem;
        width: 100%;
    }

    .feed .products .body {
        gap: 0;
        row-gap: 30px;
        justify-content: center;
        flex-direction: column;
    }

}