.container {
    width: 100%;
    height: auto;
    padding: 3rem 5rem;
    margin: auto;
}

.back {
    display: flex;
    cursor: pointer;
}

.back p {
    font-size: 1.5rem;
    color: black;
    padding-left: 1.2rem;
    font-weight: 400;
}

.product {
    width: 100%;
    height: auto;
    padding: 2rem 0rem;
    display: flex;
    justify-content: space-around;
}

.product .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product img {
    width: 400px;
}

.product .data {
    width: auto;
    height: auto;
}

.product .data .page {
    display: flex;
    align-items: center;
}

.product .data .page p {
    padding: 1rem;
    font-size: 1.2rem;
}

.product .data .page p:nth-of-type(1),
.product .data .page p:nth-of-type(2) {
    color: rgba(200, 26, 120, 1);
    font-weight: 700;
}


.product .data .page img {
    width: 10px;
}

.product .data .wine {
    padding: 0.5rem 1rem;
}

.product .data .wine .data {
    height: auto;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.product .data .wine h1 {
    font-size: 2rem;
    color: rgba(17, 17, 17, 1);
    font-weight: 700;
}

.product .data .wine .from {
    width: auto;
    display: flex;
    align-items: center;
}

.product .data .wine img,
.product .data .wine .stars img{
    width: 20px;
}

.product .data .wine p {
    padding: 0rem 0.5rem;
}

.product .data .prices {
    padding: 2rem 1rem;
}

.product .data .prices p {
    line-height: 35px;
}

.product .data .prices p:first-of-type,
.product .data .prices p:first-of-type span {
    font-size: 2rem;
    color: rgba(200, 26, 120, 1);
    font-weight: 700;
}

.product .data .prices p:first-of-type span {
    font-size: 2.5rem;
}

.product .data .prices p:nth-of-type(2) {
    color: rgba(136, 136, 136, 1);
    font-size: 1.2rem;
}

.product .data .comment {
    padding: 0rem 1rem;
}

.product .data .comment p:first-of-type {
    font-weight: 700;
    color: black;
    font-size: 1.5rem;
}

.product .data .comment p:nth-of-type(2) {
    font-size: 1.2rem;
    padding: 1rem 0rem;
    width: 80%;
    line-height: 30px;
}

.add_container {
    padding: 2rem 1rem;
}

.add {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(126, 188, 67, 1);
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1rem;
}

.add .controls {
    display: flex;
    flex-grow: 0.3;
    justify-content: space-between;
    align-items: center;
    border-right: 0.5px solid rgba(255, 255, 255, .4);
    padding-right: 2rem;
}

.add p {
    color: white;
    font-weight: 700;
}

.add .controls p:nth-of-type(1),
.add .controls p:nth-of-type(3) {
    border-radius: 100%;
    padding: 0;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add .add_button {
    height: 100%;
    cursor: pointer;
}


.bottom_bar_mobile{
    display: none;
}

.mobile_image{
    display: none;
}

@media screen and (max-width: 1100px) {
    .product .data .prices {
        padding: 1rem 1rem;
    }
}